alembic==1.14.0
fastapi==0.115.6
httpx==0.28.1
itsdangerous==2.2.0
jinja2==3.1.5
pydantic-settings==2.7.0
PyYAML==6.0.2
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
psycopg[binary]==3.2.3
SQLAlchemy==2.0.36
uvicorn[standard]==0.32.1
